.searchContainer {
  display: flex;
  flex-direction: row;
  width: 500px;
  padding: 10px;
  gap: 10px;
}

.searchInput {
  width: 100%;
  background: #262626;
  color: #808080;
  border: 0;
  padding: 10px;
  border-radius: 10px;
}

.addButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 0;
  padding: 10px;
  gap: 10px;
  background-color: #1e6f9f;
  color: #d9d9d9;
}
